@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500;700&display=swap');

$primary: #181a1b; // Thats a sample how you could change a BootStrap variable.
$secondary: #f0542d;
$light: #e8e6e3;
$dark-grey: #484848;
$light-grey: #b6afa6;
$white: #fff;
$font-family: 'Raleway', sans-serif;
